*{
    background-color: black;
    max-width: 1220px;
}
@font-face{
    font-family: "Triforce";
    src: url(Triforce.ttf) format(.ttf);

}
header{
    margin: 0 auto;
}
h1{
    position: relative;
    top: 20px;
    left: 10%;
    margin: 0 auto;  
    font-size: 100px;
    font-family: 'Triforce';
    color: red;
    
    /*src: url(Triforce.ttf);
    font-weight: 600;*/
}